<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/views.css">
    <title>Privacy policy</title>
</head>
<body>
<header class="views-header">
    <div class="container">
        <nav class="navbar navbar-views navbar-default navbar-fixed-top active" role="navigation">
            <div class="navbar__inner active">

                <a class="navbar-brand" href="../../index.html">
                    <img draggable="false" src="../../images/logo.png" alt="" class="logo">
                </a>
                <div class="navigation">
                    <div class="header__burger"><span></span></div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 active">

                    <ul class="nav navbar-nav navbar-right ">
                        <li><a class="header__link" href="../privacy/index.html">Privacy policy</a>
                        </li>
                        <li><a class="header__link" href="../terms/index.html">Terms of use</a>
                        </li>
                        <li>
                            <a class="getApp fill" href="https://apps.apple.com/us/app/candy-cash-match-3-challenge/id1556218923">Get App</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</header>
<section class="main-section privacy section">
    <div class="container">

        <h4 class="title privacy__title">
            PRIVACY AND DATA PROTECTION POLICY
        </h4>
        <div class="privacy__date">
            <p><span>Last modified:</span> 15 March 2021</p>
            <p><span>Effective date:</span> 15 March 2021</p>
        </div>

        <div class="section__text">
            <p>
                This Privacy and Data Protection Policy (“<span>Policy</span>”) is effective as of the date set forth above. VAKU
                APPS LTD (“<span>Company</span>”, “VAKU APPS LTD”, “<span>We</span>”, “<span>Us</span>”, “<span>Our</span>”), operating with Mobile VPN application (“<span>App</span>”)
                and website https://vaku.app/ (“<span>Website</span>”), is committed to honoring and encouraging the protection of
                your privacy as a user who uses the App (“<span>you</span>”, “<span>your</span>”, “<span>User</span>”).
            </p>
            <p>You may print a copy of this Policy for your records.</p>
            <h5 class="section__text-title">
                We act as a Joint Data Controller
            </h5>
            <p>
                Joint data controller is a legal person that jointly with other data controllers determines the purposes
                and means of the processing of personal data, with regard to personal data of Our App Users. We act as a
                Joint data controller together with the Google LLC (“<span>Google Analytics</span>”, “<span>Google</span>”) and YANDEX LLC
                (“<span>Yandex.Metrica</span>”, “Yandex”). We determine the purposes of processing of your personal data regarding
                our business interests. Google and Yandex determine means of processing of personal data and purposes of
                processing of your personal data regarding their business interests.
            </p>
            <p>
                This Policy applies to every individual whose personal data is collected by the Google Analytics and
                Yandex.Metrica (“<span>Partners</span>”) through the App and other persons whose personal data is lawfully disclosed
                to and processed by our Partners (“<span>Data Subjects</span>”). This Policy describes how our Partners collect and
                how We and our Partners process the your personal information our Partners collect.
            </p>
            <p>Questions, comments and complaints about the data practices related to the App can be submitted to the
                following address:</p>
            <div class="vaku-app">
                <h6 class="vaku-app-title">VAKU APPS</h6>
                <p><span>Phone number:</span> +357 25 057505;</p>
                <p><span>Email address:</span> vpn@vaku.app ;</p>
                <p><span>Attention:</span> Christos A. Photiades.</p>
            </div>
            <h5 class="section__text-title">
                Collected Data
            </h5>
            <p>We do not collect data. Your personal data is collected by our Partners. Our Partners collect personal
                data related to your activity on the respective app store or distribution platform and within the
                App/Website by means they determine to be appropriate for that.</p>
            <p>The types of your personal data collected by Google Analytics includes:</p>
            <ul class="section__list">
                <li class="section__list-link">Number of users and sessions;</li>
                <li class="section__list-link">Session duration;</li>
                <li class="section__list-link">Operating systems;</li>
                <li class="section__list-link">Device models;</li>
                <li class="section__list-link">Geography;</li>
                <li class="section__list-link">First launches;</li>
                <li class="section__list-link">App/Website opens;</li>
                <li class="section__list-link">App/Website updates;</li>
                <li class="section__list-link">In-app purchases.</li>
            </ul>
            <p>You may see a detailed list of the personal data Google Analytics collects about you at:</p>
            <ul class="section__list">
                <li class="section__list-link"><a target="_blank" href="https://support.google.com/firebase/answer/6317485">https://support.google.com/firebase/answer/6317485;</a>
                </li>
                <li class="section__list-link"><a target="_blank" href="https://support.google.com/firebase/answer/6317486">https://support.google.com/firebase/answer/6317486</a>
                </li>
            </ul>
            <p>
                Yandex.Metrica collects the following data concerning your experience during usage of the App/Website:
            </p>
            <ul class="section__list">
                <li class="section__list-link">Data related to session activity;</li>
                <li class="section__list-link">Cookies;</li>
                <li class="section__list-link">Location data;</li>
                <li class="section__list-link">Data regarding your device.</li>
            </ul>
            <p>
                You may see a detailed list of the personal data Yandex.Metrica collects about you at <a target="_blank" href="https://yandex.ru/support/metrica/code/data-collected.html?lang=en">https://yandex.ru/support/metrica/code/data-collected.html?lang=en</a>.
            </p>
            <p><span>Remember, We do run automated decision-making software</span> based on all the data we receive. We do use personal information We receive from our Partners, namely the data regarding time of User’s actions within the App/Website, ID of User’s device, name of version of the app and country from which User has accessed the App/Website for profiling to analyze the Users' experience within the App, how Users use the Services and App and to enhance the App.</p>
            <h5 class="section__text-title">
                Cookies and Third-Party Technologies
            </h5>
            <p>
                <span>We do not use cookies. Our Partners use cookies and other identification technologies on the App/Website. </span>
            </p>
            <p>Cookies are small text files that are stores on devices by apps. Cookie may contain your unique identifier and typically serve to improve your experience of Internet surfing: for instance, due to cookies, you are able to browse pages you have once visited quickly, to set your unique options in “settings” menus, as well as monitor your way through the webpages in order to aggregate precise information about your navigation and preferences, so the app owners may analyze the information and offer you a better service and relevant ads in the future.</p>
            <p>You may learn more about cookies our Partners use at <a target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>  and</p>
            <p>
                <a target="_blank" href=" https://yandex.ru/support/browser-beta/personal-data-protection/cookies.html?lang=en"> https://yandex.ru/support/browser-beta/personal-data-protection/cookies.html?lang=en</a>

            </p>
            <h5 class="section__text-title">
                Purposes to use cookies
            </h5>
            <p>
                Our Partners collect Your cookies for a few reasons:
            </p>
            <ul class="section__list">
                <li class="section__list-link first">
                    To ensure your good experience while using Our App/Website, for instance:
                    <ul class="section__list-inner">
                        <li class="section__list-link">remembering user preferences and settings;</li>
                        <li class="section__list-link">determining the popularity of content;</li>
                        <li class="section__list-link">analyzing App/Website traffic and trends, and generally understanding the online behaviors and interests of users who use the App/Website;</li>
                    </ul>
                </li>
                <li class="section__list-link first">To analyze the way the App/Website is used and accessed (your clicks, time you spend for tasks completion) etc.;</li>
            </ul>
            <h5 class="section__text-title">
                Third-party websites
            </h5>
            <p>
                Third parties may display their advertisements within the App. When you click on third-party advertisement, it may redirect you to the website of such third party outside the App. Such website may collect your personal data according to its own rules and policies. We are not responsible and hold no liability regarding your personal data by the third-party websites.
            </p>
            <p>
                We advise you to access the third-party websites carefully and always check their policies and rules regarding the collection of your personal data.
            </p>

            <h5 class="section__text-title">
                How We Use Personal Data
            </h5>
            <p class="section__text-subtitle">
                <span>Our Purposes
</span>
            </p>
            <p>
                Our App is aimed at powering-up, energy saving, cleaning cache and managing your phone and other services, according to Our Terms of Use. Thus, We need your data to provide you with the respective services.
            </p>
            <p>
                Likewise, We will use your personal data for the following purposes:
            </p>
            <ul class="section__list">
                <li class="section__list-link">to make the functionality of Our App available to you;</li>
                <li class="section__list-link">to enhance the App;</li>
                <li class="section__list-link">for marketing purposes, e.g. to determine the Users’ traffic regarding the App/Website, the Users’ locations and geography, the statistics of User’s actions within the App/Website.
                </li>
            </ul>
            <p><span>Processing personal data for marketing purposes</span></p>
            <p>Our Partners process your personal data and allow Us to process your personal data for marketing purposes on a basis of your consent. Our Partners warrants they have received your consent for receiving of marketing communications from us. Marketing communication may include the right of the Company to notify the User about the App updates, new services, marketing proposals and related notifications. </p>
            <p>You are not under any obligation to provide our Partners with your personal data for marketing purposes. You can withdraw your consent to your personal data being processed for the purposes of marketing communications at any time by contacting Us at email address  vpn@vaku.app or directly via the App.</p>
            <p>
                If you do choose to withdraw your consent, this will not mean that Our processing of your personal data before you withdraw your consent was unlawful.
            </p>
            <p class="section__text-subtitle"><span>Disclosure of Your Personal Data</span></p>
            <p>We ensure We always include the controls and warranties embodied in this Policy to the contracts and agreements. We work under the respective contracts and agreements with our Partners and contractors whom We grant access to your personal data. </p>
            <p class="section__text-subtitle"><span>Your Age</span></p>
            <p>
                Before using Our Services, you have to reach the age recommended/established under the Terms of Use and Privacy Policy of Google and Yandex. Google and Yandex ensure and warrant that you have reached the age at which applicable laws permit you to use the App and to collect your personal data. We fully rely on such warranties of Google and Yandex and promptly react to any reports regarding the inappropriate age of Users of the App. We do not normally provide services to subjects of the inappropriate age. Subsequently, We do not process their personal data. We reserve the right to implement any tools and techniques to reveal the human trafficking and exploitation of children, and report them immediately to the appropriate state authorities and enforcement agencies, including the personal data associated with the activities which, at Our own discretion, are suspicious and may raise concerns about their association with the violation of applicable laws.
            </p>
            <p>
                By using or accessing Our App/Website, We believe that such Data Subjects have reached the age recommended/established under the Terms of Use and Privacy Policy of Google and Yandex and have all rights to enter into an agreement with Us as to the receipt of Services and use of App, as well as process personal data under Data Subjects’ consent for the purposes We mention in this Policy.
            </p>
            <p>
                If you know that our Partners process personal data of User of inappropriate age , please inform Us by sending email at  vpn@vaku.app.
            </p>
            <p class="section__text-subtitle"><span>Retention of Personal Data</span></p>
            <p><span>We do not store your personal data</span>, except the data regarding time of User’s actions within the App/Website, ID of User’s device, name of version of the app and country from which User has accessed the App/Website. Our Partners and We store your personal data collected during your activity on the respective app store or distribution platform and within the App/Website.</p>
            <p>You can find the information about the way your personal data is stored, processed and deleted by the Google and Yandex at:</p>
            <ul class="section__list">
                <li class="section__list-link">
                    <a target="_blank" href="https://policies.google.com/privacy?hl=en-US">https://policies.google.com/privacy?hl=en-US;</a>
                </li>
                <li class="section__list-link">
                    <a target="_blank" href="https://yandex.com/legal/confidential/">https://yandex.com/legal/confidential/.</a>
                </li>
            </ul>
            <p>
                We will process your personal data for as long as you will use the App/Website or for as long as needed to provide you with the Services. In case you will stop to use the App and delete the App from your device we will not process your personal data anymore, except when it is properly justified under Our business needs.
            </p>
            <p class="section__text-subtitle"><span>State authorities, enforcement agencies, courts</span></p>
            <p>We may be legally obliged to disclose your personal data to the competent state authority, enforcement agency or a court in case We receive a mandatory request for such disclosure from them. </p>
            <p>We may be proactive and address the competent authority in case We suspect a violation of law to be committed in association with your use of Our App/Website.</p>
            <p class="section__text-subtitle"><span>Your consent</span></p>
<p>We will notify you of the purposes and scope of the disclosure and ask for your permission in case your personal data is to be shared with a third party not mentioned in this Policy.</p>
            <p class="section__text-subtitle"><span>Right to Withdrawal of Consent</span></p>
<p>You have a right to withdraw consent to processing of your personal data. You may enjoy this right at any time you wish. Please remember, that the withdrawal of consent does not mean that the processing before the withdrawal is considered thus illegal. </p>
            <p>If you want to withdraw your consent to processing of your personal data, you should contact our Partners, namely Google or Yandex, in this regard, Subject to your withdrawal of consent to processing of your personal data, our Partners have to inform us about this. Once our Partners will inform Us in this regard, we will stop to process your personal data. We fully rely on our Partners regarding your withdrawal of consent to processing of your personal data.</p>
            <p>Before withdrawing your consent, take into attention the outcome such withdrawal may entail.</p>
            <ul class="section__list">
                <li class="section__list-link">
                    <a target="_blank" href="https://policies.google.com/privacy?hl=en-US">https://policies.google.com/privacy?hl=en-US;</a>
                </li>
                <li class="section__list-link">
                    <a target="_blank" href="https://yandex.com/legal/confidential/">https://yandex.com/legal/confidential/.</a>
                </li>
            </ul>
            <p class="section__text-subtitle"><span>Cross-border Transfer of Data </span></p>
<p>Our headquarters is in the Russian Federation. We make every possible effort to protect entrusted data against unauthorized access, including two-factor authentication procedures, regular password changes, due diligence of privacy procedures and other appropriate and reliable measures provided by Our Partners. </p>
<p>Some data may be accessed and processed by the following companies:</p>

            <table class="table table-bordered  table-responsive">
                <thead>
                <tr>
                    <th scope="col" >NAME</th>
                    <th scope="col">PURPOSE</th>
                    <th scope="col" >COUNTRY</th>
                    <th scope="col" >PRIVACY POLICIES</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Yandex LLC (Yandex Appmetrica)</th>
                    <td>analysis of the Users' experience within the App and how Users use the Services and App</td>
                    <td>Russia</td>
                    <td><a target="_blank" href="https://metrica.yandex.com/about/info/privacy-policy#:~:text=Metrica.,-How%20we%20treat&text=We%20only%20use%20first-party,domains%20other%20than%20Yandex%20affiliates">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">Google LLC (Google Ads, Google Admob, Google Firebase)</th>
                    <td>analysis of the Users' experience within the App and how Users use the Services and App</td>
                    <td>Ireland, USA</td>
                    <td><a target="_blank" href="https://policies.google.com/privacy?hl=en">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">Unity Technologies</th>
                    <td>analysis of the Users' experience within the App and how Users use the Services and App</td>
                    <td>USA</td>
                    <td><a target="_blank" href="https://unity3d.com/legal/privacy-policy">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">Facebook Inc.</th>
                    <td>analysis of the Users' experience within the App and how Users use the Services and Ap</td>
                    <td >Ireland, USA</td>
                    <td><a target="_blank" href="https://www.facebook.com/privacy/explanation">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">AdinPlay BV</th>
                    <td >analysis of the Users' experience within the App and how Users use the Services and Ap</td>
                    <td>The Netherlands</td>
                    <td><a target="_blank" href="https://adinplay.com/privacy-and-cookies-policy/">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">AppLovin Inc.</th>
                    <td >analysis of the Users' experience within the App and how Users use the Services and Ap</td>
                    <td >USA</td>
                    <td><a target="_blank" href="https://www.applovin.com/privacy/">Reference for review</a></td>
                </tr>
                <tr>
                    <th scope="row">Pollfish Inc.</th>
                    <td >analysis of the Users' experience within the App and how Users use the Services and Ap</td>
                    <td >USA</td>
                    <td><a target="_blank" href="https://www.pollfish.com/gdpr/">Reference for review</a></td>
                </tr>
                </tbody>
            </table>
<p>We also may use support from the specialists skilled in performing tasks to enhance our Services as well as other independent contractors, e.g. IT specialists, accountants, auditors, lawyers, etc, provided that all adequate safeguards are put in place. </p>
<p>
    In order to secure the adequate level of protection, We implemented the Standard Contractual Clauses as well as signed Data Processing Agreements in the relationships with the engaged contractors, so they are bound to preserve at least the same level of personal data protection as it is granted by the law applicable to us.
</p>
            <p class="section__text-subtitle"><span>Data Breaches</span></p>
<p>We take all reasonable steps to minimize the risk of the personal data breach while processing the personal data. The risk assessment We have to carry out has to determine whether the risk to the rights and freedoms of the Data Subjects affected is judged to be sufficiently high to justify notification to them.</p>

<p>
    In the case of a personal data breach, We will without undue delay and, where feasible, not later than 72 hours after having become aware of it, notify the personal data breach to the competent authority, unless the personal data breach is unlikely to result in a risk to the rights and freedoms of the Data Subjects. Also, in the case of a personal data breach, which is likely to result in a high risk to the rights and freedoms of the Data Subjects, We will without undue delay notify the appropriate Data Subject the personal data of which were breached. If measures that have subsequently been taken to mitigate the high risk to the Data Subjects, so that it is no longer likely to happen, then communication with the Data Subject is not required.
</p>

<p>
    We will document all personal data breaches, comprising the facts relating to the personal data breach, its effects and the remedial action taken. That documentation shall enable the competent authority to verify compliance with the GDPR if necessary.
</p>
            <p class="section__text-subtitle"><span>Your Rights</span></p>
<p>There is a scope of rights you may enjoy as to personal data protection with regard to GDPR and CCPA. </p>
<p>The list of rights protected under GDPR is as follows:</p>
            <ul class="section__list">
                <li class="section__list-link">right of access (i.e. you may ask Us to send you a copy of the data about you that our Partners collected);
                </li>
                <li class="section__list-link">right to rectification (i.e. you may ask Us to correct the outdated or false data, or complete the data which is missing or incomplete)
                </li>
                <li class="section__list-link">right to erasure (i.e. you may ask us to delete the personal data Our partners retain, provided that you are allowed to do so);
                </li>
                <li class="section__list-link">right to restriction of processing (if processing may be restricted)
                </li>
                <li class="section__list-link">right to object to processing (if you have a right to object as to certain kinds of processing or in certain circumstances)
                </li>
                <li class="section__list-link">right to data portability (i.e. you may ask Us to transfer a copy of your data to another organization or to you provided that the circumstances comply with the data protection law).

                </li>
            </ul>
<p>The list of rights protected under CCPA is as follows:</p>

            <ul class="section__list">
                <li class="section__list-link">the right to request that a business that collects a consumer’s personal information disclose to that consumer the categories and specific pieces of personal information the business has collected;

                </li>
                <li class="section__list-link">the right to request that a business delete any personal information about the consumer which the business has collected from the consumer;

                </li>
                <li class="section__list-link">the right to request that a business that sells the consumer’s personal information;
                </li>
                <li class="section__list-link">the right, at any time, to direct a business that sells personal information about the consumer to third parties not to sell the consumer’s personal information <span>(“Right to opt-out”)</span>.
                </li>
            </ul>
<p>We pay your attention to the fact that depending on your request regarding the exercising any of your rights provided hereinabove you may need to contact our Partners to exercise such right. You are able to check the details of procedure of exercising any of your rights provided hereinabove at:</p>
            <ul class="section__list">
                <li class="section__list-link">
                    <a target="_blank" href="https://policies.google.com/privacy?hl=en-US">https://policies.google.com/privacy?hl=en-US;</a>
                </li>
                <li class="section__list-link">
                    <a target="_blank" href="https://yandex.com/legal/confidential/">https://yandex.com/legal/confidential/.</a>
                </li>
            </ul>
            <p>
                We do not charge any fees in relation to exercising your rights (unless We receive repetitive requests without a clear justification behind the need to request the information within such short periods of time; in this case, We may charge you a small fee to compensate the expenses that incur due to the repetitive and excessive character of requests). We typically do Our best to answer you as soon as possible or within the reasonable period taking into account the complexity of the request, but in case We are processing a large amount of requests the answer may took Us longer than you might expect.
            </p>
            <p>
                You can send Us the request via email vpn@vaku.app or directly via the App. Please verify that your request comprises the details:
            </p>

            <ul class="section__list">
                <li class="section__list-link">your name;
                </li>
                <li class="section__list-link">contact information;
                </li>
                <li class="section__list-link">right you want to exercise, and, where applicable;
                </li>
                <li class="section__list-link">your personal data in Our processing;
                </li>
                <li class="section__list-link">reason/justification behind such request.
                </li>
            </ul>
<p>We may ask you to provide Us with some information We already have to verify that it is you or holder of parental responsibility on your behalf.</p>
            <p class="section__text-subtitle"><span>Personal Information Sales Opt-Out and Opt-In Rights
</span></p>
            <p>We do not sell your personal data or disclose your personal data for business purposes.
            </p>

<p>You might provide us with the affirmative authorization to sell your data (the “right to opt-in”). If you are between 13 and 16 years of age, you can provide such personally. If you are less than 13 years of age, such affirmative authorization has to be provided by your parent or guardian. If you opt-in to personal information sales you may opt-out of future sales at any time. To exercise the right to opt-out, you (or your authorized representative) may submit a request to Us by sending Us a message via email   vpn@vaku.app or directly via the App.
</p>
            <p>After you make an opt-out request, you may change your mind and opt back in to personal information sales at any time by visiting Our App/Website and sending Us a message. We will only use personal information provided in an opt-out request to review and comply with the request.</p>
            <p class="section__text-subtitle"><span>Complaint Lodgement
</span></p>
<p>In case you are convinced We are somehow infringing your personal data rights granted by the GDPR, you may lodge a complaint with the supervisory authority. Our lead authority is:</p>

            <div class="vaku-app">
                <p><span>Name:</span> Office of the Commissioner for Personal Data Protection</p>
                <p><span>Address:</span>Iasonos 1, 1082 Nicosia, Cyprus</p>
                <p><span>Telephone:</span> +357 22818456</p>
                <p><span>E-mail:</span><a target="_blank" href="http://commissionerdataprotection.gov.cy/">http://commissionerdataprotection.gov.cy/. </a></p></div>
<p class="text-underline">
    We kindly invite you to share your concerns with Us first regarding any issue related to processing of your personal data. You may use the following channels to address your inquiries:
</p>
            <p><span>Email address:</span> vpn@vaku.app.</p>
            <p class="section__text-subtitle"><span>Updates to the Policy
</span></p>
            <p>We may occasionally update this Policy. </p>
            <p>We reserve the right to change the Policy (at its own discretion and at any time). If We make significant changes, We will notify you of the changes on Our App or through others means, such as email, before they enter into force. See more in Terms of Use.</p>
            <p>The Company may revise this Policy from time to time but no less than once at every 12 months . If the Company makes material changes to this Policy, it will notify the Data </p>
            <p>
                Subjects by e-mail or by posting a notice within the App prior to the effective date of the changes. By continuing to access or use the Website after those changes become effective, Data Subjects agree with the revised Policy.
            </p>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="../../js/index.js"></script>
</body>
</html>
