<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/views.css">
    <title>Terms of use</title>
</head>
<body>
<header class="views-header">
    <div class="container">
        <nav class="navbar navbar-views navbar-default navbar-fixed-top active" role="navigation">
            <div class="navbar__inner active">

                <a class="navbar-brand" href="../../index.html">
                    <img draggable="false" src="../../images/logo.png" alt="" class="logo">
                </a>
                <div class="navigation">
                    <div class="header__burger"><span></span></div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 active">

                    <ul class="nav navbar-nav navbar-right ">
                        <li><a class="header__link" href="../privacy/index.html">Privacy policy</a>
                        </li>
                        <li><a class="header__link" href="../terms/index.html">Terms of use</a>
                        </li>
                        <li>
                            <a class="getApp fill" href="https://apps.apple.com/us/app/candy-cash-match-3-challenge/id1556218923">Get App</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</header>
<section class="main-section terms section">
    <div class="container">
        <h4 class="title terms__title">
            TERMS OF USE
        </h4>
        <div class="privacy__date">
            <p><span>Last modified:</span> 23 April 2021</p>
            <p><span>Effective date:</span> 23 April 2021</p>
        </div>
        <p class="uppercase">
            PLEASE, READ THESE TERMS OF USE (THE “<span>TERMS</span>”) CAREFULLY BEFORE USING MOBILE VPN (THE “<span>APP</span>”), PROVIDED BY VAKU APPS. BY USING MOBILE VPN YOU AGREE TO BE BOUND BY THE (1) TERMS OF USE; AND (2) PRIVACY AND DATA PROTECTION POLICY. IF YOU DO NOT AGREE WITH THESE TERMS, PLEASE DO NOT USE THE APP. VIOLATION OF ANY OF THE TERMS BELOW WILL RESULT IN THE TERMINATION OF YOUR RIGHT TO USE THE APP, AND ANY ACCOUNT THAT YOU MAY HAVE CREATED AS PART OF THE APP. YOU AGREE TO USE THE APP AT YOUR OWN RISK.
        </p>
        <p class="uppercase">
            VAKU APPS RESERVES THE RIGHT TO REFUSE THE APP TO ANYONE FOR ANY REASON AT ANY TIME ACCORDING TO THE PROVISIONS SPECIFIED HEREUNDER.
        </p>
        <h5 class="section__text-title underline">
            GENERAL
        </h5>
        <p class="list-point">
            <span><i>1.</i>  Parties to this Agreement.</span>
            These Terms are concluded between you (the “<span>you</span>” or “<span>your</span>”) and VAKU APPS LTD registered and acting under the law of Republic of Cyprus  (including its subsidiaries, affiliates, agents, and assigns) (the “<span>VAKU APPS LTD</span>”, “<span>Company</span>”, “<span>us</span>”, “<span>we</span>”), regarding your use of the App, including your use of any service(s) offered through it pursuant to provisions of these Terms (“ Mobile VPN <span>Service(s)</span>” or “<span>Service(s)</span>”).
        </p>
        <p class="list-point">
            <span><i>2.</i>  Changes to these Terms.</span>
            These Terms are concluded between you (the “<span>you</span>” or “<span>your</span>”) and VAKU APPS LTD registered and acting under the law of Republic of Cyprus  (including its subsidiaries, affiliates, agents, and assigns) (the “<span>VAKU APPS LTD</span>”, “<span>Company</span>”, “<span>us</span>”, “<span>we</span>”), regarding your use of the App, including your use of any service(s) offered through it pursuant to provisions of these Terms (“ Mobile VPN <span>Service(s)</span>” or “<span>Service(s)</span>”).
        </p>
<p>In order to improve the quality of Services and to comply with legal requirements, the Company may unilaterally amend these Terms. The new version of the Terms comes into force from the moment of its placement on the Internet on the page at the address: https://vaku.app/vpn-terms . In this case, the Company undertakes to notify you of changes by posting a notice on the App or by sending a notice to your email address on a durable medium within a set notice period which is reasonable and proportionate in light of the specific circumstances and which is at least 15 days. </p>
        <p>Proportionate longer notice periods of more than 15 days might be given where the proposed changes to the Terms require you to make technical or commercial adaptations in order to comply with the change. That notice period will not apply where, and to the extent that, you waive it in an unambiguous manner or where, and to the extent that, the need to implement the change without respecting the notice period stems from: </p>
        <ul class="section__list">
            <li class="section__list-link">the legal or regulatory obligation which does not allow it to respect the 15 days’ notice period;
            </li>
            <li class="section__list-link">the need to address an unforeseen and imminent danger related to defending the online intermediation services, consumers or business users from fraud, malware, spam, data breaches or other cybersecurity risks.
            </li>
        </ul>
<p>You will be entitled to withdraw your consent to these Terms within 15 days from the receipt of the notice of any change, unless a shorter period applies. Use of the Services after any changes to these Terms means a consent to such changes.</p>
        <p class="list-point">
            <span><i>3.</i>  App Provider.</span>
            When you download the App through the app store or distribution platform (“<span>App Provider</span>”), you acknowledge and agree that: (i) these Terms are between us, and not with the App Provider, and that we are responsible for the Services, not the App Provider; (ii) the App Provider has no obligation to furnish maintenance and support services or handle any warranty claims; (iii) the App Provider is not responsible for addressing any claims you or any third party have relating to the App; and (iv) the App Provider is a third party beneficiary of these Terms as related to your use of the App, and the App Provider will have the right to enforce these Terms as related to your use of the App against you.
        </p>
        <h5 class="section__text-title underline">
            SERVICES
        </h5>
        <p class="list-point">
            <span><i>4.</i>Mobile VPN Services.</span>
        </p>
        <p>            Company provides access to Virtual Private Network (VPN) communications services, related services and features. You will be able to use the following Services on the App:</p>
        <ul class="section__list">
            <li class="section__list-link">The application provides the user with the ability to connect to one of the VPN servers located worldwide.
            </li>
            <li class="section__list-link">When checking the application makes an assumption as to the security of the Wi-Fi network encryption the user is connected to.
            </li>
            <li class="section__list-link">The application makes an assumption as to the connection to an insecure or secure network and sends the notification to the user
            </li>
            <li class="section__list-link">The application gains access to the user's location in order to determine possible threats when connected to a Wi-Fi network.
            </li>
        </ul>
        <p>Upon provision of Services listed above the App accesses the following data within your device:</p>
        <ul class="section__list">
            <li class="section__list-link">The application gains access to the user's location in order to determine possible threats when connected to a Wi-Fi network.
            </li>
            <li class="section__list-link">Wi-Fi, mobile internet, Bluetooth, GPS, sound, screen locking and flashlight settings.
            </li>
        </ul>
        <p>Actual service coverage, speeds, locations and quality may vary. The Service will attempt to be available at all times except for limited periods for maintenance and repair. However, the Service may be subject to unavailability for a variety of factors beyond our control including emergencies, third party service failures, transmission, equipment or network problems or limitations, interference, signal strength, and may be interrupted, refused, limited or curtailed. </p>
<p>We are not responsible for data, messages or pages lost, not delivered, delayed or misdirected because of interruptions or performance issues with the Service or communications services or networks (e.g., T-1 lines or the Internet). We may impose usage or Service limits, suspend Service, or block certain kinds of usage in our sole discretion to protect users or the Service. Network speed is an estimate and is no indication of the speed at which your or the Service sends or receives data. Actual network speed will vary based on configuration, compression, network congestion and other factors. The accuracy and timeliness of data received is not guaranteed; delays or omissions may occur.</p>
<p>To provide certain Services listed above App may request you to consent the access to the following data within your device:
</p>
        <ul class="section__list">
            <li class="section__list-link">active window data;</li>
            <li class="section__list-link">applications use data;</li>
            <li class="section__list-link">system settings;</li>
            <li class="section__list-link">history of the applications use,</li>
            <li class="section__list-link">network operator;</li>
            <li class="section__list-link">language;</li>
            <li class="section__list-link">other device settings according to the default device settings.</li>
        </ul>
        <p>Particular Services specified hereinabove may not be available within the App unless you manually perform an action suggested by the App on a basis of the data within your device accessed by the App, e.g. disabling of active background apps, lowering the screen brightness etc.</p>
<p>Particular Services specified hereinabove may be not available to you as certain types/versions of the Android operating system do not provide the App with the access to the data within your device necessary for enabling the availability of such Services.</p>
        <p>Particular data of your device, e.g. time left till the device shutdown, device’s central processor temperature in real time etc. may not be displayed correctly within the App due to the type/version of the Android operating system of your device.</p>
        <p>Considering the information specified above in this section, Company undertakes best possible efforts to ensure the correct functioning and operation of the App, the Services or any part thereof taking into account the provisions specified under the sections 13 and 14 hereof. </p>
        <p class="list-point">
            <span><i>5.</i>Mobile VPN Services.</span>
        </p>
        <p>Company allows third parties to display their advertisements within the App. Third-party advertisements may be textual, graphical, visual, audiovisual and in any other forms applied. Third-party advertisements may be limited by time or by action. </p>
    <p>You are able to skip third-party advertisements limited by action after the compulsory time of advertisement displaying has left by clicking the skip button. Compulsory time of advertisement displaying may vary depending on the agreement between Company and third party. Skip button may be located in any place on or near the advertisement. Skip button may not be named “Skip button” or have any other relative name. You are not able to skip the third-party advertisements limited by time. Third-party advertisements limited by time end after the advertisement displaying time is over. All third-party advertisements are displayed permanently and you cannot fully disable the third-party advertisements from the App except as under subscription specified in section 6 hereunder.</p>
        <p>Third-party advertisements are permanently displayed downside the device screen. Third-party advertisements may be displayed every time during your use or after you have used any of the App’s options. Several third-party advertisements may be displayed in a row. </p>
        <p>Third-party advertisements shall not constitute, contain or promote:</p>
        <ul class="section__list">
            <li class="section__list-link">Illegal or unsafe products, services or activities or products, services, or content that exploit, mislead, or exert undue pressure on the age groups targeted;</li>
            <li class="section__list-link">discrimination against people based on race, ethnicity, color, national origin, religion, age, sex, sexual orientation, gender identity, family status, disability, medical or genetic condition;</li>
            <li class="section__list-link">tobacco products and related paraphernalia.</li>
            <li class="section__list-link">sale or use of illegal, prescription, or recreational drugs;</li>
            <li class="section__list-link">sale or use of weapons, ammunition, explosives or weapon modification accessories;</li>
            <li class="section__list-link">sale or use of adult products or services, except for ads for family planning and contraception targeted to people 18 years or older;</li>
            <li class="section__list-link">nudity, depictions of people in explicit or suggestive positions, or activities that are overly suggestive or sexually provocative;</li>
            <li class="section__list-link">content that infringes upon or violates the rights of any third party, including copyright, trademark, privacy, publicity, or other personal or proprietary rights;
            </li>
            <li class="section__list-link">shocking, sensational, inflammatory or excessively violent content;</li>
            <li class="section__list-link">content that asserts or implies personal attributes;</li>
            <li class="section__list-link">products or services that are designed to enable a user to engage in cheating or deceitful practices;</li>
            <li class="section__list-link">profanity or unappropriated slang;</li>
            <li class="section__list-link">deceptive, false, or misleading claims;</li>
            <li class="section__list-link">sale of human body parts or fluids.</li>
        </ul>
        <p>Third parties are responsible to ensure the advertisements comply with the requirements provided hereinabove. Company has no responsibility for the content or availability of third-party advertisements. You hereby agree to waive claims, demands or lawsuits arising out of, related to or connected with the third-party advertisements displayed within the App.</p>
        <p class="list-point">
            <span><i>6.</i>Details of the App.</span>
        </p>
            <p>You may download the App from App Provider where the App is available. You may download and use the App for free or upon the lump-sum payment. </p>

        <p>Free version of the App includes all the functionality and enables the provision of Services specified hereinabove subject to displaying the third-party advertisements according to the provisions of these Terms and details specified within the App. Paid version of the App includes all the functionality and enables the provision of Services specified hereinabove without displaying the third-party advertisements according to the provisions of these Terms and details specified within the App. </p>

        <p>You can use the Services by accessing the internal functionality of the App and the information provided within the App. After installation of the App, it will automatically include the upper-side swipe menu within your device with access option and description of the main functionality of the App.</p>
        <p class="list-point">
            <span><i>7.</i>Trial Period.</span>
        </p>
        <p>Upon a fixed payment, you may use the App for a limited test period of time free of any third-party advertisements within the App specified in section 5 hereinabove (“Trial Period”). Terms, cost and other conditions and specifics of the Trial Period shall be specified within the App and you can access such information though accessing and using of the internal functionality of the App. </p>
        <p>
            NOTWITHSTANDING ANYTHING CONTAINED HEREIN, ANY SERVICE PROVIDED DURING THE TRIAL PERIOD IS PROVIDED “AS-IS” WITHOUT ANY REPRESENTATIONS, WARRANTIES OR INDEMNITIES. In case you want to proceed with learning process under these Services with the App, an obligation to create the account applies
        </p>
        <p class="list-point">
            <span><i>8.</i>Subscription.</span>
        </p>
        <p>
            Upon the payment of lump-sum payment, you may hereby agrees to subscribe for and purchase, and the Company would hereby agree to provide you, upon the payment of fixed price (the “<span>Subscription Fee</span>”), with the Services free of any third-party advertisements within the App specified in section 5 hereinabove (the “<span>Subscription</span>”).
        </p>
<p>
    Terms, cost and other conditions and specifics of the different Subscription options shall be specified within the App and you can access such information though accessing and using of the internal functionality of the App. You should use the internal functionality of the App to see and check the detailed information regarding the Subscription and Subscription Fees. You should use the internal functionality of the App to subscribe. You shall proceed with the payment of Subscription Fee via cashless wire transfer or by other means specified within the App.
</p>
        <p>
            Subscription period starts since the moment of payment. Company may return you the Subscription Fee at your request only if you have not accessed the App/Services under the Subscription prior to your request. It is considered that you have accessed the App/Services under the Subscription if:
        </p>
        <ul class="section__list">
            <li class="section__list-link">you have received a notification letter to your e-mail address regarding the provision of access to the App/Services under the Subscription; or</li>
            <li class="section__list-link">you have received an ability to access the App/Services through the App; or
            </li>
            <li class="section__list-link">you have received actual access to App/Services by any other means.
            </li>
        </ul>
<p>Company does not refund the Subscription Fee in case of non-use, termination of use, refusal to use the App/Services, non-use of the entire amount of Services, deletion of the App without using the Services, detection of inaccuracies and errors in the App/Services, non-compliance of the App’s/Services’ level with your expectations etc., unless otherwise specified by the Company. </p>
        <h5 class="section__text-title underline">
            ACCOUNT. YOUR USE OF THE APP
        </h5>
        <p class="list-point">
            <span><i>9.</i>Registration Process. Eligibility. </span>
        </p>
        <p>
            Use of App does not require a registration of the account. By downloading, installation and starting using the App you confirm that you are legally permitted to use the App by the laws of your home country.
        </p>
        <p>
            YOU RECOGNIZE AND GUARANTEE THAT YOU HAVE ALL THE APPROPRIATE RIGHTS, POWERS AND OPPORTUNITIES TO CONCLUDE AND COMPLY WITH ALL THE CONDITIONS OF THESE TERMS, AND THAT YOU WILL NOT USE THE APP IN A WAY THAT VIOLATES ANY LAWS OR REGULATIONS. NOTE THAT BY REPRESENTING AND WARRANTING, YOU ARE MAKING A LEGALLY ENFORCEABLE PROMISE.
        </p>
        <p class="list-point">
            <span><i>10.</i>Links Website and other related Services.</span>
        </p>
        <p>The App contains links to and integrations with third party services and you agree that the App provides links to and integrations with services solely as a convenience and has no responsibility for the content or availability of such services. The Company does not endorse such services (or any products or other services associated therewith). Your use of such services will be subject to the terms applicable to each such service.</p>
        <p class="list-point">
            <span><i>11.</i></span>Confidentiality.</p>
        <p>
            Company agrees to keep your information strictly confidential. Without your clear written consent in prior, the Company shall not make commercial or marketing use of the information indicating the identity of you. Only if any of the following events occurs, the Company can reasonably make use of your personal information without prior consent of you:
        </p>
        <ul class="section__list">
            <li class="section__list-link">the portrait right, name right and other civil legal rights of you have been clearly waived;</li>
            <li class="section__list-link">the information is used for the purpose of internal use subject to your consent to the Company Privacy and Data Protection Policy.
            </li>
        </ul>
        <p class="list-point">
            <span><i>12.</i></span>Services and Content Use Restrictions.</p>
        <p>
        <p>
        You agree that you will not engage in any activities, including, without limitation, the uploading, posting, emailing, or transmitting of Сontent of the App that:
    </p>
        <ul class="section__list">
            <li class="section__list-link">attempt to or do harm to us, the Services, including any specific functionalities of our products and/or services, or any others;
            </li>
            <li class="section__list-link">are unlawful, false, inaccurate, misleading, offensive, obscene, lewd, violent, harassing, threatening, abusive, tortious, defamatory, invasive of another’s privacy, or are otherwise objectionable to us, in our sole discretion; or

            </li>
            <li class="section__list-link">violate any right of any third party, including, without limitation, the uploading, posting, emailing, or transmitting of the Content that violates another person’s intellectual property right, right of publicity, trade secret right, or other proprietary right;

            </li>
        </ul>
        <p>You shall not disparage Company's performance, or distribute any false or misleading statement or otherwise take any action which could reasonably be expected to adversely affect the personal or professional reputation of Company or Company’s employees/contractors.</p>
        <p>
            You shall not reverse engineer, disassemble, or modify any source or object code or any software or other products, services, or processes accessible through the Services, including any specific functionalities of our products and/or services, install any software, file, or code on the Services that is not authorized by Company, or attempt to do so.
        </p>
        <p>
            You shall not republish, sell, rent, sub-license, reproduce, duplicate, copy or redistribute material/Content from the App.
        </p>
        <p>You shall not engage in any activity that interferes with a user’s access to the Services or the proper operation of the Services.</p>
        <p>You shall not access or collect information from the Services using automated means (such as through scripts, robots scrapers, or spiders).</p>
        <p>
            You shall not use any meta tags or other “hidden text” utilizing any of our Trademarks.
        </p>
        <p>You shall not interfere with or circumvent any security feature of the Services or any feature that restricts or enforces limitations on the use of or access to the Services, any specific functionalities of our products and/or services, or its Content.</p>
        <p>You shall not use the Services for commercial or political purposes.</p>
        <p>You shall not take any action that:</p>
        <ul class="section__list">
            <li class="section__list-link">imposes an unreasonable or disproportionately large load on our infrastructure, including but not limited to denial of service attacks, “spam” or any other such unsolicited overload technique;

            </li>
            <li class="section__list-link">disclose, harvest, or otherwise collect information, including email addresses, or other private information about any third party without that party’s express consent; or
            </li>
            <li class="section__list-link">otherwise violate these Terms, or solicit, encourage, or facilitate anyone else to do so.
            </li>
        </ul>
<p>ILLEGAL USE OF THE SERVICES WILL BE INVESTIGATED AND YOUR LIABILITY WILL BE ESTABLISHED AND REPORTED TO THE COMPETENT AUTHORITY.</p>
        <h5 class="section__text-title underline">
            LIABILITY
        </h5>
        <p class="list-point">
            <span><i>13.</i>Limitation of liability.</span>
        </p>
        <p>THE COMPANY AND ITS AFFILIATES HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF ANY SERVICES AVAILABLE FROM OR THROUGH THE APP. IN PARTICULAR, THE COMPANY AND ITS AFFILIATES ARE NOT LIABLE FOR ANY COMPENSATORY, DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE), BREACH OF WARRANTY, TORT OR OTHERWISE; NOR ARE WE AND OUR AFFILIATES LIABLE FOR ANY THIRD PARTY CLAIMS OF ANY NATURE.</p>
        <p>NONE OF THE SERVICES WOULD BE PROVIDED WITHOUT SUCH LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, YOU OBTAIN FROM US FROM OR THROUGH THE WEBSITE SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT. NEITHER WE NOR OUR AFFILIATES SHALL HAVE ANY LIABILITY FOR ANY FAILURE OR DELAY RESULTING FROM ANY CONDITION OF THE APP BEYOND OUR REASONABLE CONTROL.</p>
        <p>It is possible that other Users may post or transmit offensive or obscene materials through the App and that you may be involuntarily exposed to such offensive or obscene materials. It also is possible for others user to obtain personal information about you due to your use of the Services.</p>
        <p class="list-point">
            <span><i>14.</i>Disclaimer.</span>
        </p>
        <p>
            EXCEPT AS SPECIFICALLY PROVIDED TO THE CONTRARY IN THESE TERMS, COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES TO THE USERS CONCERNING THE SPECIFIC QUALITY OF THE APP, ANY OF ITS PARTS OR ANY SERVICES OR ANY PART THEREOF PROVIDED UNDER THESE TERMS. COMPANY DISCLAIMS, WITHOUT LIMITATION, ANY WARRANTY OR GUARANTEE OF MERCHANTABILITY OR FITNESS OF THE APP, ANY OF ITS PARTS OR ANY SERVICES OR ANY PART THEREOF FOR A PARTICULAR USER’S PURPOSE, ARISING FROM COURSE OF PERFORMANCE, COURSE OF DEALING, OR FROM USAGES OF THE APP OR SERVICES BY THE USER.
        </p>
        <p>THE COMPANY DISCLAIMS ALL LIABILITY FOR THE ACTS OR OMISSIONS OF OTHER USERS, WHETHER SUCH ACTS OR OMISSIONS OCCUR DURING USE OF THE SERVICES OR OTHERWISE. IN NO EVENT SHALL WORKPORT’S TOTAL LIABILITY TO YOU IN CONNECTION WITH THE SERVICES EXCEED 100.00 (ONE HUNDRED 00 CENTS) USD.</p>
        <p>THESE LIMITATIONS OF LIABILITY STATED HEREUNDER DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR RIGHTS THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW. NOTHING IN THIS DISCLAIMER WILL LIMIT OR EXCLUDE OUR OR YOUR LIABILITY FOR DEATH OR PERSONAL INJURY, FOR FRAUD OR FRAUDULENT MISREPRESENTATION OR LIMIT ANY OF OUR OR YOUR LIABILITIES IN ANY WAY THAT IS NOT PERMITTED UNDER APPLICABLE LAW.</p>
        <p>LEGAL ACTION MAY BE TAKEN, INCLUDING WITHOUT LIMITATION, CIVIL, CRIMINAL, OR OTHER PROCEEDINGS.</p>
        <p class="list-point">
            <span><i>15.</i>Limited License. </span>
        </p>
        <p>Use of the App or Services does not give you any ownership of, or any other intellectual property interest in the App, any Content or the Services including any specific functionalities of our products and/or services, and you cannot otherwise use the App, Content or the Services without our express prior written permission. </p>
<p>All rights not expressly granted to you are reserved by us and/or our licensors and other third parties. Except as expressly provided in these Terms or with Company’s express prior written consent, no part of the Services, App and no Content may be used, copied, reproduced, distributed, uploaded, posted, publicly displayed, translated, transmitted, broadcasted, sold, licensed or otherwise exploited for any purpose whatsoever. Any unauthorized use of the App, any Content or the Services for any purpose is prohibited.</p>
        <p class="list-point">
            <span><i>16.</i>Ownership. </span>
        </p>
        <p>
            As between us and you, the App and Services, including any specific functionalities of our Services (including past, present and future versions) are owned and controlled by us and their Content is protected by Russian Federation and international copyright, trademark, trade dress, patent, and other intellectual property rights and laws to the fullest extent possible.
        </p>
        <p>
            “<span>Content</span>” means all text, graphics, user interfaces, visual interfaces, photographs, logos, sounds, artwork, and computer code displayed on or available through the Services and the design, structure, selection, coordination, expression, and arrangement of such materials including, without limitation:
        </p>
        <ul class="section__list">
            <li class="section__list-link">imaterials and other items relating to us and our products and services, including, without limitation, all activities, games, lesson plans, teacher trainings, printables, characters, photographs, audio clips, sounds, pictures, videos, and animation;
            </li>
            <li class="section__list-link">trademarks, logos, trade names, service marks, and trade identities of various parties, including ours (“Trademarks”); and
            </li>
            <li class="section__list-link">other forms of intellectual property.
            </li>
        </ul>
        <h5 class="section__text-title underline">
            DISPUTES RESOLUTION
        </h5>
        <p class="list-point">
            <span><i>17.</i>Limitation of liability.</span>
        </p>
        <p>
            You are solely responsible for your interactions with other Users. The Company reserves the right, but has no obligation, to monitor disputes between you and other Users.
        </p>
        <p class="list-point">
            <span><i>18.</i>Disputes with the Company.</span>
        </p>
        <p>
            If a dispute arises between you and us, our goal is to provide you with a neutral and cost-effective means of resolving the dispute quickly. In the event of a dispute, we encourage you first to contact us at vpn@vaku.app to try resolving your problem directly with us.
        </p>
        <p class="list-point">
            <span><i>19.</i>Restrictions.</span>
        </p>
        <p>You and the Company agree that any litigation shall be limited to the dispute between the Company and you individually. To the fullest extent permitted by law:</p>
        <ul class="section__list">
            <li class="section__list-link">no litigation shall be joined with any other;
            </li>
            <li class="section__list-link">there is no right or authority for any dispute to be resolved on a class-action basis or to utilize class action procedures; and
            </li>
            <li class="section__list-link">there is no right or authority for any dispute to be brought in a purported representative capacity on behalf of the general public or any other persons.
            </li>
        </ul>
        <p class="list-point">
            <span><i>20.</i>Exceptions to Informal Negotiations and Mandatory Litigation.
</span>
        </p>
        <p>You and the Company agree that to the fullest extent permitted by law the following disputes are not subject to the above provisions concerning informal negotiations and mandatory litigation:</p>
        <ul class="section__list">
            <li class="section__list-link">any disputes seeking to enforce or protect, or concerning the validity of, any of your or the Company’s intellectual property rights; and
            </li>
            <li class="section__list-link">any claim for injunctive relief.
            </li>
        </ul>
        <h5 class="section__text-title underline">
            MISCELLANEOUS
        </h5>
        <p class="list-point">
            <span><i>21.</i>Communication with the Company.</span>
        </p>
        <p>You may contact us through an e-mail  vpn@vaku.app via phone +35725057505 or via contact form available within the App.</p>
        <p class="list-point">
            <span><i>22.</i>No Third-Party Beneficiaries.</span>
        </p>
        <p>This Agreement is concluded between you and VAKU APPS. No user has any rights to force the Company to enforce any rights it may have against you or any other user.
        </p>

        <p class="list-point">
            <span><i>23.</i>Personal data processing.</span>
        </p>
        <p>Company collection, use and disclosure, if any, of information collected from you is detailed in the Privacy and Data Protection Policy, which is incorporated by reference and made part of these Terms. You agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the Privacy and Data Protection Policy and your choices (including settings).
        </p>
        <p class="list-point">
            <span><i>24.</i>Interpretation.</span>
        </p>
        <p>The headers and sidebar text are provided only to make these Terms easier to read and understand. The fact that we wrote these Terms will not affect the way the Agreement is interpreted.
        </p>
        <p class="list-point">
            <span><i>25.</i>Enforceability and Governing Law.</span>
        </p>
        <p>The failure of the Company to exercise or enforce any right or provision of these Terms does not constitute a waiver of such right or provision. These Terms cannot be changed or modified by you. If any provision of these Terms is held to be unenforceable, the unenforceable term or provision shall be replaced by an enforceable term or provision that comes closest to the intention underlying the unenforceable term or provision and the remaining provisions shall be enforced. The laws of Russian Federation govern your access to, and use of, our Services and the provisions of these Terms.
        </p>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="../../js/index.js"></script>
</body>
</html>
